<!DOCTYPE html>
<html>
	<head>
		<title>Karma</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="javascripts/clarifai-basic.js"></script>
		<script src="javascripts/script.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body ng-app="Karma">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Karma</a>
			</div>
		</nav>
		
		<div id="main" class="container">
			
			<div class="container">
				<div ng-view></div>
			</div>
			
		</div>
		<div class="panel-body">
			<div class="panel-footer navbar-fixed-bottom">
				<a href="https://github.com/mhijazi1/Karma">Github Repo</a>
			</div>
		</div>
	</body>
</html>